@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  background-color: rgb(22, 23, 26);
  color: rgb(194, 193, 193);
}

input {
  transition: all 0.3s ease-in-out;
  outline: none;
}

.print-btn {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  .print {
    color: rgb(219, 219, 218);
    &:hover {
      transform: scale(1.1);
    }
  }
}

.fas {
  transition: all 0.3s ease;
}

.container {
  margin: 20px auto;
  position: relative;
  display: flex;
  border-radius: 25px;
  justify-items: center;
  flex-direction: column;
  width: 1150px;
  height: 1335px;
  background: rgb(36, 38, 43);
  border-left: 3px solid rgb(48, 51, 58);
  border-right: 3px solid rgb(48, 51, 58);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

header {
  margin-top: 15px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .limits {
    display: flex;
    flex-direction: row;
    input {
      padding: 5px;
      width: 125px;
      text-align: center;
      font-size: 1.2rem;
      border-radius: 2px;
      border: none;
      border-bottom: 1px solid rgb(102, 102, 102);
      background-color: rgb(21, 22, 26);
      font-weight: 700;
      color: rgb(206, 71, 71);
      &:focus,
      textarea:focus {
        box-shadow: 0 0 5px rgb(206, 71, 71);
        border-bottom: 1px solid rgb(206, 71, 71);
      }
    }
    .ems-limits {
      display: flex;
      width: 500px;
      flex-direction: column;
      align-items: flex-end;
      div {
        margin: 5px 10px;
      }
    }
    .loading-limits {
      display: flex;
      width: 500px;
      flex-direction: column;
      align-items: flex-end;
      div {
        margin: 5px 10px;
      }
    }
  }

  .title {
    letter-spacing: 2px;
    margin: 50px 0 30px 0;
    color: rgb(206, 207, 207);
    font-size: 3em;
  }
  input {
    padding: 5px;
    width: 350px;
    text-align: center;
    font-size: 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid rgb(102, 102, 102);
    background-color: rgb(21, 22, 26);
    color: #2ecc71;
    font-weight: 400;
    &:focus,
    textarea:focus {
      box-shadow: 0 0 5px #2ecc71;
      border-bottom: 1px solid #2ecc71;
    }
  }

  .checks {
    width: 1125px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    div {
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      label {
        margin: 8px;
      }
    }
    input {
      padding: 5px;
      width: 70px;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
      border-radius: 2px;
      border: none;
      border-bottom: 1px solid rgb(102, 102, 102);
      background-color: rgb(21, 22, 26);
      color: rgb(206, 71, 71);
      &:focus,
      textarea:focus {
        box-shadow: 0 0 5px rgb(206, 71, 71);
        border-bottom: 1px solid rgb(206, 71, 71);
      }
    }
  }
}

.loading {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .left-side {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 925px;
    border-right: 4px solid rgb(62, 62, 70);
  }
  .right-side {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 925px;
    border-left: 4px solid rgb(52, 52, 58);
  }
  .location {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid rgb(62, 62, 70);
    input {
      padding: 5px;
      width: 300px;
      text-align: center;
      font-size: 2rem;
      border-radius: 2px;
      border: none;
      // border-bottom: 1px solid rgb(102, 102, 102);
      background-color: rgb(21, 22, 26);
      color: #2ecc71;
      &:focus,
      textarea:focus {
        box-shadow: 0 0 10px #2ecc71;
      }
    }
  }
  .loading-card {
    margin-top: 15px;
    padding: 10px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    input {
      padding: 5px;
      width: 100px;
      text-align: center;
      font-size: 1.2rem;
      border-radius: 2px;
      border: none;
      border-bottom: 1px solid rgb(102, 102, 102);
      background-color: rgb(21, 22, 26);
      color: rgb(0, 144, 163);
      font-weight: 700;
      transition: all 0.3s ease-in-out;
      &:focus,
      textarea:focus {
        box-shadow: 0 0 5px rgb(0, 144, 163);
        border-bottom: 1px solid rgb(0, 144, 163);
      }
    }
    .white {
      opacity: 0;
    }

    .dark-grey {
      color: rgb(18, 19, 22);
    }

    .bus-voltage {
      align-self: flex-start;
      margin: 5px;
    }
    .reading {
      align-self: flex-end;
      margin: 5px;
    }
    .bus-voltage-right {
      align-self: flex-end;
      margin: 5px;
    }
    .reading-right {
      align-self: flex-start;
      margin: 5px;
    }
  }
}
.red {
  color: rgb(206, 71, 71);
}

.green {
  color: rgb(4, 181, 204);
}

i {
  cursor: pointer;
}

.when {
  padding: 5px;
  width: 140px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 2px solid rgb(30, 30, 34);
  border-radius: 10px;
  background: rgb(62, 62, 70);
  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  margin-left: -70px;
}

.first {
  position: absolute;
  top: 455px;
  left: 50%;
  margin-left: -70px;
}
.second {
  position: absolute;
  top: 670px;
  left: 50%;
  margin-left: -70px;
}
.third {
  position: absolute;
  top: 885px;
  left: 50%;
  margin-left: -70px;
}
.fourth {
  position: absolute;
  top: 1100px;
  left: 50%;
  margin-left: -70px;
  color: none;
}
.before {
  background: rgb(4, 163, 184);
  color: rgb(22, 23, 26);
  font-weight: bold;
}
.tied {
  background: rgb(206, 71, 71);
  color: rgb(22, 23, 26);
  font-weight: bold;
}
.adjusted {
  background: rgb(238, 158, 67);
  color: rgb(22, 23, 26);
  font-weight: bold;
}
.after {
  background: #2ecc71;
  color: rgb(22, 23, 26);
  font-weight: bold;
}

@media print {
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
  }

  .title {
    input {
      font-weight: 700;
    }
  }

  .container {
    border: none;
    box-shadow: none;
  }

  h1 {
    font-size: 2em !important;
    color: rgb(0, 0, 0) !important;
  }

  body {
    color: rgb(27, 27, 27);
  }

  input {
    color: black !important;
    font-weight: 700;
    font-size: 2.5em;
  }

  .dark-grey {
    opacity: 0;
  }
  .green {
    color: rgb(3, 3, 3);
  }
  .print-btn {
    display: none;
  }
  .print {
    opacity: 0;
  }
  .red {
    color: black;
  }
  .fa-square {
    opacity: 0;
  }
  .before {
    background: white;
    color: black;
    font-weight: 400;
  }
  .tied {
    background: white;
    color: black;
    font-weight: 400;
  }
  .adjusted {
    background: white;
    color: black;
    font-weight: 400;
  }
  .after {
    background: white;
    color: black;
    font-weight: 400;
  }
}
